<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.llc.mapper.RoleMapper">
	<resultMap id="BaseResultMap" type="com.llc.entity.Role">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="role_name" jdbcType="VARCHAR" property="roleName" />
	</resultMap>
	<sql id="Base_Column_List">
		id, role_name
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from role
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from role
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.llc.entity.Role">
		insert into role (id, role_name)
		values (#{id,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.llc.entity.Role">
		insert into role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="roleName != null">
				role_name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="roleName != null">
				#{roleName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.llc.entity.Role">
		update role
		<set>
			<if test="roleName != null">
				role_name = #{roleName,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.llc.entity.Role">
		update role
		set role_name = #{roleName,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="findByUserId" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		r.*
		from role r left join user_role ur on r.id=ur.rid
		where ur.uid = #{uid,jdbcType=INTEGER}
	</select>
</mapper>