<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxll.mapper.AddressMapper">
	<!--开启二级缓存-->


	<resultMap id="BaseResultMap" type="com.kxll.entity.Address">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="is_del" property="isDel" />
		<result column="parent_id" property="parentId" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, name, code, type, is_del AS isDel, parent_id AS parentId, create_time AS createTime, update_time AS updateTime
    </sql>
</mapper>
