<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kxll.mapper.UserPrivilegeMapper">
	<!--开启二级缓存-->


	<resultMap id="BaseResultMap" type="com.kxll.entity.UserPrivilege">
		<result column="user_id" property="userId" />
		<result column="privilege" property="privilege" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        user_id AS userId, privilege
    </sql>
</mapper>
